.menu-hidden {
    transform: translateX(100%);
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.px-0\.5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.p-2 {
    padding: 2rem;
}
.p-4 {
    padding: 4rem; 
}