@use '../color';
@use '../font';

.pill {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;

    &.pill-primary {
        &.pill-dark {
            &.pill-fill {
                color: color.$primary-100;
                background-color: color.$primary-900;
                &:hover {
                    background-color: color.$primary-950;
                }
            }
            &.pill-outlined {
                color: color.$primary-900;
                border: 1px solid color.$primary-900;
                &:hover {
                    color: color.$primary-100;
                    background-color: color.$primary-900;
                }
            }
        }
        &.pill-light {
            &.pill-fill {
                color: color.$primary-900;
                background-color: color.$primary-100;
                &:hover {
                    background-color: color.$primary-200;
                }
            }
            &.pill-outlined {
                color: color.$primary-100;
                border: 1px solid color.$primary-100;
                &:hover {
                    color: color.$primary-900;
                    background-color: color.$primary-100;
                }
            }
        }
    }

    &.pill-secondary {
        &.pill-dark {
            &.pill-fill {
                color: color.$secondary-100;
                background-color: color.$secondary-900;
                &:hover {
                    background-color: color.$secondary-950;
                }
            }
            &.pill-outlined {
                color: color.$secondary-900;
                border: 1px solid color.$secondary-900;
                &:hover {
                    color: color.$secondary-100;
                    background-color: color.$secondary-900;
                }
            }
        }
        &.pill-light {
            &.pill-fill {
                color: color.$secondary-900;
                background-color: color.$secondary-100;
                &:hover {
                    background-color: color.$secondary-200;
                }
            }

            &.pill-outlined {
                color: color.$secondary-100;
                border: 1px solid color.$secondary-100;
                &:hover {
                    color: color.$secondary-900;
                    background-color: color.$secondary-100;
                }
            }
        }
    }

    &.pill-danger {
        &.pill-dark {
            &.pill-fill {
                color: color.$neutral-50;
                background-color: color.$danger-600;
                &:hover {
                    background-color: color.$danger-700;
                }
            }
            &.pill-outlined {
                color: color.$danger-600;
                border: 1px solid color.$danger-600;
                &:hover {
                    color: color.$neutral-50;
                    background-color: color.$danger-600;
                }
            }
        }
        &.pill-light {
            &.pill-fill {
                color: color.$danger-800;
                background-color: color.$danger-200;
                &:hover {
                    background-color: color.$danger-300;
                }
            }
            &.pill-outlined {
                color: color.$danger-100;
                border: 1px solid color.$danger-100;
                &:hover {
                    color: color.$danger-900;
                    background-color: color.$danger-100;
                }
            }
        }
    }

    &.pill-neutral {
        &.pill-fill {
            color: color.$neutral-50;
            background-color: color.$neutral-600;
            &:hover {
                background-color: color.$neutral-700;
            }
        }
        &.pill-outlined {
            color: color.$neutral-600;
            border: 1px solid color.$neutral-600;
            &:hover {
                color: color.$neutral-50;
                background-color: color.$neutral-600;
            }
        }
    }

    &.pill-lg {
        @extend .l16-regular;
        padding: 6px 12px;
    }
    &.pill-md {
        @extend .l13-regular;
        padding: 4px 8px;
    }
    &.pill-sm {
        @extend .l10-regular;
        padding: 2px 6px;
    }
}
